.box {
	width: 85%;
	height: 200px;
	background-color: #FBFBEF;
	margin-bottom: 20px;
	font-size: 40px;
}
.shaq {
	width: "100%";
}
@media (max-width: 2000px) {
	.show-desktop {
		display: block;
	}
	.show-tablet {
		display: none;
	}
	.show-mobile {
		display: none;
	}
	body {
		background-color: #F2EFFB;
	}
	p {
		font-size: 35px;
	}
}
@media (max-width: 1000px) {
	.show-desktop {
		display: none;
	}
	.show-tablet {
		display: block;
		font-size: 30px;
	}
	.show-mobile {
		display: none;
	}
	body {
		background-color: #EFF8FB;
	}
	p {
		font-size: 25px;
	}
	img {
		width: 100%;
	}
}
@media (max-width: 600px) {
	.show-desktop {
		display: none;
	}
	.show-tablet {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	body {
		background-color: #EFFBF5;
	}
	p {
		font-size: 15px;
	}
	img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.box {
		width: 90%;
	}
}
/* Larger than mobile */
@media (min-width: 400px) {
	.show-mobile {
		font-size: 20px;

	}
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
	.show-desktop {
		font-size: 40px;
	}
}